// variables
$color-bg: #ffffff;
$color-link: #ff4b4c; 
$color-text-dark: #6b7074;
$color-text-light: #feffff;
$color-border: #9c9c9c;
$color-border-light: #fbffff;
$color-underline: #516065;
$color-main: $color-text-dark;
// breadcrumbs
$mobile: 480px;
$tablet: 800px;
